[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
psycopg2 = "*"
python-dotenv = "*"
flask-cors = "*"
flask-migrate = "*"
sqlalchemy-serializer = "*"
pytest = "*"
pytest-flask = "*"
flask-restful = "*"
flask-jwt-extended = "*"
datetime = "*"
flask-bcrypt = "*"
marshmallow = "*"
flask-limiter = "*"

[dev-packages]

[requires]
python_version = "3.8"
