.navbar-collapse .custom-searchbar {
  display: flex;
  align-items: center;
  gap: 6px;
  flex-shrink: 0;
}

.custom-searchbar .custom-search-button {
  display: flex;
  height: 52px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 3px solid #868686;
  background: #2ec4b6;
  color: white;
  padding: 0px 20px;
}

body .search-input {
  flex-grow: 1; /* Ensures the input takes up the remaining space */
}

.custom-searchbar .magnifying-glass {
  vertical-align: baseline;
}

.custom-searchbar .custom-search-button:hover {
  background: #cbf3f0;
  border-color: #868686;
}
