.user-controls {
  display: flex;
  align-items: center;
  gap: 10px; /* or any other space you wish to give between the username and the logout button */
}

body .log-out-button:hover,
body .log-in-button:hover {
  background: #cbf3f0;
  border-color: #868686;
}
